In [2]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint
from config import api_key

state_codes = ['AL','AZ','AR','CA','CO','CT','DE','FL','GA','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

In [3]:
#THIS SECTION OF CODE IS FOR TROUBLESHOOTING PLEASE IGNORE
#test_state='AZ'

#test_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.{test_state}-ALL.M'

#test_response = requests.get(test_url).json()

In [4]:
#test_response_data = test_response['series'][0]['data']
#test_response_data[0][0][0:4]
#test_response_data[0][0][4:6]

In [5]:
#year_data = []
#price_data = []

#for x in range(251):
#    year_data.append(test_response_data[x][0])
#    price_data.append(test_response_data[x][1])

#test_df = pd.df({
#    'Year':year_data,
#    'Date':price_data
#})

#test_df = test_df.set_index(['Year'])

#test_df

In [19]:
df = pd.DataFrame({})

for state in state_codes:
    url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.{state}-ALL.M'

    response = requests.get(url).json()
    
    response_data = response['series'][0]['data']

    date_data = []
    price_data = []

    for x in range(251):
        date_data.append(response_data[x][0])
        price_data.append(response_data[x][1])
        
    df[f'{state}'] = price_data
    
df['Date (YYYY/MM)'] = date_data

In [20]:
df
#df.head()

,AL,AZ,AR,CA,CO,CT,DE,FL,GA,ID,...,TN,TX,UT,VT,VA,WA,WV,WI,WY,Date (YYYY/MM)
0,10.51,10.14,8.76,18.96,11.01,18.44,11.18,11.32,10.70,8.18,...,10.12,8.97,7.94,16.90,9.25,8.92,9.29,11.01,7.88,202111
1,10.53,10.57,9.09,19.99,11.05,18.83,10.86,10.92,10.95,8.20,...,9.88,9.02,8.33,17.00,9.46,8.97,9.13,11.04,8.19,202110
2,10.75,11.18,9.49,21.57,11.50,19.62,11.12,11.13,10.96,8.13,...,10.09,9.22,8.89,16.53,9.57,8.82,9.06,11.33,8.28,202109
3,10.96,11.22,9.47,21.35,11.64,17.36,10.43,10.72,11.42,8.57,...,10.09,9.16,8.85,16.21,9.72,8.75,8.83,11.32,7.99,202108
4,10.87,11.48,9.35,20.93,11.61,19.43,10.23,10.64,11.40,8.31,...,10.11,8.82,9.07,16.23,9.59,8.88,8.85,11.41,8.22,202107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,5.60,7.86,6.16,9.82,6.20,9.57,6.74,7.87,6.23,5.12,...,5.55,7.34,5.42,10.56,6.17,5.22,5.04,5.98,4.40,200105
247,5.72,6.87,6.04,9.88,5.91,9.61,6.31,7.87,6.19,4.38,...,5.51,7.04,5.39,10.42,6.05,5.40,5.00,6.02,4.26,200104
248,5.87,6.57,5.73,9.89,5.66,9.38,6.31,7.51,6.10,4.39,...,5.48,7.02,4.92,10.84,6.06,5.37,5.15,5.93,4.34,200103
249,5.31,6.48,5.60,9.63,5.79,9.06,5.38,7.48,6.20,4.50,...,5.51,6.91,5.26,11.12,6.03,5.11,4.99,5.98,4.36,200102
250,5.54,6.35,5.69,8.71,5.55,9.76,6.11,7.43,5.90,4.43,...,5.59,6.90,4.67,10.95,5.86,4.79,4.98,5.90,4.31,200101

In [17]:
north = ['CT','ME','MA','MO','NE','NH','NJ','NY','PA','RI','VT']

west = ['AZ','CO','CA','ID','MT','NM','NV','OR','UT','WA','WY']

mid = ['IL','IN','IA','KS','MI','MN','ND','OH','SD','WI']

south = ['AL','AR','DE','FL','GA','KY','LA','MD','MS','NC','OK','SC','TN','TX','VA','WV']

In [27]:
north_df = df[north]
south_df = df[south]
mid_df = df[mid]
west_df = df[west]

regions = [north,west,mid,south
]

In [32]:
north_df.describe().round(2)

,CT,ME,MA,MO,NE,NH,NJ,NY,PA,RI,VT
count,251.00,251.00,251.00,251.00,251.00,251.00,251.00,251.00,251.00,251.00,251.00
mean,15.63,12.36,14.93,7.96,7.52,14.42,12.69,14.60,9.42,14.46,13.33
std,3.22,1.51,2.72,1.81,1.53,2.10,1.94,1.74,0.89,2.91,1.82
min,9.06,9.00,9.21,5.22,4.77,10.04,8.66,10.33,7.46,8.39,10.42
25%,14.32,11.34,13.41,6.46,6.10,13.56,11.46,13.71,8.57,12.34,11.26
50%,16.73,12.55,15.06,7.99,7.83,14.70,13.22,14.77,9.70,14.12,13.76
75%,17.96,13.46,17.07,9.10,8.73,15.96,13.98,15.77,10.10,16.79,14.68
max,20.54,15.53,19.92,11.77,10.14,17.94,16.81,18.92,11.17,21.10,17.00

In [10]:
#north_df.head()
df.to_csv("Price Output/output.csv", index=False, header=True)