In [1]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key

In [2]:
state_codes = ['AL','AZ','AR','CA','CO','CT','DE','FL','GA','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
test_state = "AL"
test_url = f"http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.SALES.{test_state}-ALL.M"

In [3]:
response = requests.get(test_url).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [4]:
test_response_data = response['series'][0]['data']
#test_response_data

#test_response = requests.get(test_url).json()
#test_response_data = len(test_response['series'][0]['data'])
#print(test_response_data)

In [5]:
test_year = []
test_price = []
for x in range(20):
    test_year.append(test_response_data[x][0])
    test_price.append(test_response_data[x][1])
    
test_df = {
    "Year": test_year,
    "Price": test_price
}    
test_df = pd.DataFrame(test_df)
#test_df

In [6]:
dataframe = pd.DataFrame()

for state in state_codes:
    url = f"http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.SALES.{state}-ALL.M"
    response = requests.get(url).json()
    response_data = response['series'][0]['data']
    
    month = []
    price = []
    
    for x in range(251):
        month.append(response_data[x][0])
        price.append(response_data[x][1])
        
    dataframe[f'{state} Price'] = price  
dataframe['Date'] = month

In [7]:
#dataframe.round(2)

In [8]:
north = ['CT Price','ME Price','MA Price','MO Price','NE Price','NH Price','NJ Price','NY Price','PA Price','RI Price','VT Price','Date']
west = ['AZ Price','CO Price','CA Price','ID Price','MT Price','NM Price','NV Price','OR Price','UT Price','WA Price','WY Price','Date']
mid = ['IL Price','IN Price','IA Price','KS Price','MI Price','MN Price','ND Price','OH Price','SD Price','WI Price','Date']
south = ['AL Price','AR Price','DE Price','FL Price','GA Price','KY Price','LA Price','MD Price','MS Price','NC Price','OK Price','SC Price','TN Price','TX Price','VA Price','WV Price','Date']

In [9]:
north_df = dataframe[north]
#north_df

north_df['Date'] = pd.to_datetime(north_df['Date'], format='%Y%m').dt.strftime('%m/%Y')
#north_df

C:\Users\nalle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
west_df = dataframe[west]
#west_df

west_df['Date'] = pd.to_datetime(west_df['Date'], format='%Y%m').dt.strftime('%m/%Y')
#west_df

C:\Users\nalle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [11]:
mid_df = dataframe[mid]
#mid_df

mid_df['Date'] = pd.to_datetime(mid_df['Date'], format='%Y%m').dt.strftime('%m/%Y')
#mid_df

C:\Users\nalle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [14]:
south_df = dataframe[south]
#south_df

south_df['Date'] = pd.to_datetime(south_df['Date'], format='%Y%m').dt.strftime('%m/%Y')
#south_df

C:\Users\nalle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,AL Price,AR Price,DE Price,FL Price,GA Price,KY Price,LA Price,MD Price,MS Price,NC Price,OK Price,SC Price,TN Price,TX Price,VA Price,WV Price,Date
0,6484.44086,3563.07738,843.65110,16585.83318,10400.21760,5883.93958,7026.41574,4542.49337,3569.93086,10300.65482,4704.09281,5860.82384,7324.57981,31245.75807,10155.65402,2731.81762,11/2021
1,6826.88280,3892.07195,843.03263,21289.94200,10872.14507,5769.42602,7141.00619,4221.43035,3959.24693,10309.38318,5034.22288,6541.90652,7676.12714,36334.96799,9542.36800,2523.36859,10/2021
2,7544.61213,4599.83074,985.80104,23096.58015,12097.31428,6334.24094,7949.32459,4826.62250,4517.26554,11936.60307,6050.31510,6991.52912,9155.82674,42491.93520,10289.38933,2499.88187,09/2021
3,8523.89621,4953.23755,1168.18536,24564.90008,14020.42944,7312.15829,9153.45814,6003.95040,4853.22698,13925.02339,6782.77491,8143.15305,9960.21868,44066.10572,12037.24654,2910.44084,08/2021
4,8219.08998,4732.07243,1180.67614,23805.91574,13674.49327,7059.32068,8769.97611,5991.27421,4705.32460,13403.78609,6562.09853,8144.79011,9596.77796,43056.64847,12135.63884,2877.00519,07/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,6413.96530,3076.88704,813.37981,15042.69494,9421.91702,6141.43608,6039.13749,4716.55161,3439.31498,8972.34998,3735.21989,5845.02820,7310.91587,24516.03339,7223.57690,2108.17448,05/2001
247,6064.53539,2973.53436,876.89992,14641.45178,8689.87928,6429.94829,5468.60055,4536.79034,3227.76922,9156.13281,3500.60726,5716.36519,7420.05872,22635.01066,7153.24248,2249.49921,04/2001
248,5894.61038,3031.50981,965.76469,14382.78158,8861.91977,6861.18946,5408.22202,5366.98115,3172.76842,9195.66857,3464.19955,5618.79838,7404.03308,22424.41100,8069.86409,2405.07420,03/2001
249,6041.02574,3256.86530,1059.00703,15263.26870,8917.24627,6297.32889,5800.99983,4954.31404,3366.08077,9524.66093,3625.49366,6151.32286,8344.77047,24170.79092,7819.86857,2411.13253,02/2001
250,7362.47302,3804.21013,1067.79872,18376.60789,10979.03329,7639.67239,6571.66656,5921.09634,3947.31570,11600.78455,4270.22928,7126.32364,9648.54559,27583.76887,9575.83865,2973.23837,01/2001