In [2]:
import json
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import gmaps
from config import (gkey)

In [6]:
midwest_csv_file = "Region_MidWest_Energy_Usage_By_Month.csv"
north_csv_file = "Region_North_Energy_Usage_By_Month.csv"
south_csv_file = "Region_South_Energy_Usage_By_Month.csv"
west_csv_file = "Region_West_Energy_Usage_By_Month.csv"

In [24]:
m_df = ((pd.read_csv(midwest_csv_file)).iloc[0:121]).drop(columns=['Unnamed: 0'])
n_df = ((pd.read_csv(north_csv_file)).iloc[0:121]).drop(columns=['Unnamed: 0'])
s_df = ((pd.read_csv(south_csv_file)).iloc[0:121]).drop(columns=['Unnamed: 0'])
w_df = ((pd.read_csv(west_csv_file)).iloc[0:121]).drop(columns=['Unnamed: 0'])
w_df.head()

,AZ,CO,CA,ID,MT,NM,NV,OR,UT,WA,WY
0,21805.084,9907.349,61346.57848,3696.265,1136.872,5963.737,13474.968,13395.905,7883.593,10086.65543,3072.051
1,27952.698,8665.788,67284.39227,3038.303,1271.153,5646.431,13807.543,12986.806,5392.994,11594.37393,3293.536
2,35870.363,11632.616,72886.67514,3568.346,1258.308,7882.750,18934.626,13451.894,7560.044,12565.44935,3993.574
3,42623.419,14572.266,86469.63135,4211.652,1250.088,10251.916,23020.230,15457.150,9734.522,13668.61601,3783.883
4,46582.929,15633.269,95772.47727,4116.852,1207.759,10184.239,24287.925,14807.241,10773.170,13420.15843,4227.945

In [85]:
m_mean_df = pd.DataFrame(m_df.mean())
m_mean_df.columns = ['Avg MMBTU']
mid_mean_df = m_mean_df.reset_index()
mid_mean_df.rename(columns={'index' : 'State'}, inplace = True)

n_mean_df = pd.DataFrame(n_df.mean())
n_mean_df.columns = ['Avg MMBTU']
nor_mean_df = n_mean_df.reset_index()
nor_mean_df.rename(columns={'index' : 'State'}, inplace = True)

s_mean_df = pd.DataFrame(s_df.mean())
s_mean_df.columns = ['Avg MMBTU']
sou_mean_df = s_mean_df.reset_index()
sou_mean_df.rename(columns={'index' : 'State'}, inplace = True)

w_mean_df = pd.DataFrame(w_df.mean())
w_mean_df.columns = ['Avg MMBTU']
wes_mean_df = w_mean_df.reset_index()
wes_mean_df.rename(columns={'index' : 'State'}, inplace = True)

complete_df = pd.concat([mid_mean_df, nor_mean_df, sou_mean_df, wes_mean_df])
complete_df.sort_values(by=['State'], inplace=True, ascending=True, ignore_index=True)
complete_df.head()

  State     Avg MMBTU
0    AL  36790.690314
1    AR  12626.310190
2    AZ  24447.265083
3    CA  71884.957200
4    CO  10379.481017

In [75]:
latlng_csv_file = "state_lat_long.csv"

In [86]:
lat_lng_df = pd.read_csv(latlng_csv_file)

latlng_df = lat_lng_df.drop(['City'], axis=1)
latlng_df = latlng_df.drop(labels=[1,8,11], axis=0)
latlng_df.head()

  State   Latitude   Longitude
0    AL  32.601011  -86.680736
2    AZ  34.168219 -111.930907
3    AR  34.751928  -92.131378
4    CA  37.271875 -119.270415
5    CO  38.997934 -105.550567

In [87]:
gmaps.configure(api_key=gkey)

In [88]:
# Store 'Lat' and 'Lng' into  locations 
locations = latlng_df[["Latitude", "Longitude"]].astype(float)

# Convert Poverty Rate to float and store

average_btu = complete_df["Avg MMBTU"].astype(float)

In [98]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=average_btu, 
                                 dissipating=False, max_intensity=50000,
                                 point_radius = 4,)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))